# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

project_id = "YOUR_PROJECT_ID"
#region                       = "us-central1"
#zone                         = "us-central1-a"
#artifact_registry_region     = "us-central1"
#cloud_build_region           = "us-central1"
#cws_region                   = "us-central1"
#secret_manager_region        = "us-central1"
#secure_source_manager_region = "us-central1"

# If you don't need or want to enable APIs, set this to false.
#enable_apis = false

# If you don't need private access to Artifact Registry, set this to false.
#create_dns_zones = false

# if unset will create new service accounts
# if set, will use the specified service accounts
#server_service_account_id   = "YOUR_EXISTING_SERVER_SERVICE_ACCOUNT_ID"
#server_service_account_name = "YOUR_ABFS_SERVER_SA"
#uploader_service_account_id = "YOUR_EXISTING_UPLOADER_SERVICE_ACCOUNT_ID"
#uploader_service_account_name = "YOUR_ABFS_UPLOADER_SA"
#client_service_account_id   = "YOUR_EXISTING_CLIENT_SERVICE_ACCOUNT_ID"
#client_service_account_name = "YOUR_ABFS_CLIENT_SA"

# run terraform apply first
# submit the output through the allow-listing form
# then insert the license here and run terraform apply again
#abfs_license            = "INSERT_YOUR_LICENSE_HERE"

# Using the US region for the docker image with a specific version tag.
#abfs_docker_image_uri = "us-docker.pkg.dev/abfs-binaries/abfs-containers-alpha/abfs-alpha:0.1.1"

#abfs_server_machine_type = "n2d-standard-48"

#abfs_network_name           = "YOUR_NETWORK"
#abfs_subnet_name            = "YOUR_ABFS_SUBNET"
#abfs_subnet_ip              = "10.10.0.0/16"
#abfs_subnet_private_access  = false
#cws_subnet_name             = "YOUR_CWS_SUBNET"
#cws_subnet_ip               = "10.11.0.0/16"
#cws_subnet_private_access   = false

# If you want to enable Git LFS support, set this to true.
#abfs_enable_git_lfs = true

#abfs_gerrit_uploader_count            = 5
#abfs_gerrit_uploader_datadisk_size_gb = 2048
#abfs_gerrit_uploader_machine_type     = "n2d-standard-32"
#abfs_gerrit_uploader_manifest_server  = "YOUR_GERRIT_SERVER_NAME"
#abfs_gerrit_uploader_git_branch       = ["branch1", "branch2"]
#abfs_manifest_file                    = "other.xml"
#abfs_manifest_project_name            = "YOUR_MANIFEST_PROJECT"

#abfs_bucket_location                = "us-central1"
#abfs_spanner_instance_config        = "regional-us-central1"
abfs_spanner_database_create_tables = true

#alert_notification_email = "YOUR_EMAIL@EXAMPLE.COM"

# Whether to create the example GCE instance for testing ABFS.
#create_client_instance_resource = true

# Example override for the client instance configuration.
# Note: You only need to include keys you want to override from the defaults in variables.tf.
#abfs_client_config = {
#  name                  = "YOUR_ABFS_CLIENT"
#  machine_type          = "n2-standard-48"
#}

create_cloud_workstation_resources = true

#binary_authorization_always_create = true

#git_branch_trigger                          = "develop"
#secure_source_manager_instance_name         = "YOUR_SSM_INSTANCE"
#secure_source_manager_repo_git_url_to_clone = "YOUR_GIT_URL_TO_CLONE_AND_PUSH_TO_SSM"
#secure_source_manager_repo_name             = "YOUR_REPO"

cws_clusters = {
  "cws" = {
    network    = "abfs-network" # change to YOUR_NETWORK
    region     = "europe-west1" # change to YOUR_ABFS_SUBNET
    subnetwork = "cws-subnet"   # change to YOUR_CWS_SUBNET
  }
}
cws_configs = {
  "cws-abfs" = {
    cws_cluster                    = "cws"
    idle_timeout_seconds           = 3600
    # see https://docs.cloud.google.com/workstations/docs/available-machine-types
    machine_type                   = "n2-standard-32"
    boot_disk_size_gb              = 64
    disable_public_ip_addresses    = true
    pool_size                      = 0
    enable_nested_virtualization   = true
    persistent_disk_size_gb        = 1000
    persistent_disk_fs_type        = "ext4"
    persistent_disk_type           = "pd-ssd"
    persistent_disk_reclaim_policy = "RETAIN"
    custom_image_names             = [
      "android-studio",
      "android-studio-for-platform",
      "code-oss",
    ]
    creators                       = [
      # "your_email@example.com",
    ]
    #instances                      = [
    #  {
    #    name  = "cws-abfs"
    #    users = ["your_email@example.com"]
    #  }
    #]
  }
}

# Example for custom images for Cloud Workstations.
# The key of the map is the name of the image to be built.
cws_custom_images = {
  "android-studio" : {
    build = {
      # Optional: The relative path to the Dockerfile within the repository.
      skaffold_path = "workloads/cloud-workstations/pipelines/workstation-images/horizon-android-studio"
      # Optional: The timeout for the build in seconds, defaults to 7200.
      timeout_seconds = 7200
      # Optional: The machine type to use for the build, defaults to "UNSPECIFIED".
      machine_type    = "E2_HIGHCPU_32"
    }
    #workstation_config = {
    #  # Optional: The region for the Cloud Scheduler job, defaults to the region of the Cloud Build trigger.
    #  scheduler_region = "europe-west1"
    #  # Optional: The schedule for the image rebuild, defaults to daily at 3 AM.
    #  ci_schedule      = "0 3 * * *"
    #}
  },
  "android-studio-for-platform" = {
    build = {
      skaffold_path = "workloads/cloud-workstations/pipelines/workstation-images/horizon-asfp"
      timeout_seconds = 7200
      machine_type = "E2_HIGHCPU_32"
    }
  }
  "code-oss" : {
    build = {
      skaffold_path = "workloads/cloud-workstations/pipelines/workstation-images/horizon-code-oss"
      timeout_seconds = 7200
      machine_type    = "E2_HIGHCPU_32"
    }
  },
}
